<article
  class="character-card"
  (click)="onCardClick()"
>
  <!-- Imagen del personaje -->
  <img
    class="character-card__image"
    [src]="character.image"
    [alt]="character.name"
  />

  <!-- Nombre + favorito -->
  <div class="character-card__footer">
    <h3 class="character-card__name">
      {{ character.name }}
    </h3>

    <!--
      stopPropagation evita que al dar click en favorito
      también se abra el modal.
    -->
    <button
      class="character-card__favorite"
      type="button"
      (click)="toggleFavorite(); $event.stopPropagation()"
      aria-label="Agregar o quitar favorito"
    >
    <!-- [src]="isFavorite() ? '/icons/star-filled.svg' : '/icons/star.svg'" -->
      <img
        [src]="isFavorite() ? 'icons/star-filled.svg' : 'icons/star.svg'"
        alt=""
      />
    </button>
  </div>
</article>
